
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body style="background-color:black">
    <style>
    .message{color:lawngreen;font-family:Calibri;font-size:10px}
    </style>
    <div class="message"> 
        <h1>Error, please make sure there is no duplicate ID entry</h1>
    </div>
</body>
</html>
