
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration_page</title>
     <style type="text/css">
     .heading {color:black; background:lawngreen; text-align:center; font-size:x-large;font-family:Impact}
     .text_area {color:lawngreen; text-align:center; font-family:Calibri;font-size:14px}
     .button_area{font-size:large;text-align: center}
     .button {width: 200px; color: black; background-color:lawngreen; font-family:Impact; font-size:x-large; text-align:center;}
     .button:hover{transform:scale(1.1)}
     </style>
</head>
<body style="background-color:black">
    <div class="heading">
        <h1>VERSIYA</h1>
    </div> 
    <div class="text_area">
        
            <label for="username">USERNAME:  </label>
            <h6> </h6>
            <input id="username" type="text" autofocus/>
            <h1> </h1>
            <label for="password">PASSWORD:  </label>
            <h6> </h6>
            <input id="password" type="password" />
            <h1> </h1>
            <label for="confirm_password">CONFIRM PASSWORD:  </label>
            <h6> </h6>
            <input id="confirm_password" type="password"  />
            <h1> </h1>
            <label for="e_mail">E-MAIL ADDRESS:  </label>
            <h6> </h6>
            <input id="email" type="password" />
            <h1> </h1>
            <label for="ID">ID NUMBER:</label>
            <h6> </h6>
            <input id="ID" type="text" />
        </div>
        <div class="button_area">
            <h1>--------------------------------</h1>
            <button class="button" type="submit"> REGISTER</button>
            <button class="button"> BACK</button>
      </div>
</body>
</html>
