
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="Login" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
    .heading {color:black; background:lawngreen; text-align:center; font-size:xx-large;font-family:Impact}
    .text_area {color:lawngreen; text-align:center; font-family:Calibri;font-size:large}
    .button_area{font-size:large;text-align: center}
    .button {width: 200px; color: black; background-color:lawngreen; font-family:Impact; font-size:x-large; text-align:center;}
    .button:hover{transform:scale(1.1)}
    .label{color:white; font-family:Impact; font-size:large}
    .detail{color:white;font-family:square 'MS Reference Sans Serif';font-size:large;position:fixed; bottom:0; left:0; text-align:center; width:100%}

    </style>

</head>
<body style="background-color:black">
    <div class="heading">
        <h1>VERSIYA</h1>
    </div> 
     <div class="text_area">
        <label for="username">USERNAME : </label>
        <input id="username" type="text" />
         <h6> </h6>
        <label for="password">PASSWORD : </label>
        <input id="password" type="text" />
    </div>
    <div class="button_area">
        <h1> </h1>
        <h1> </h1>
        <h1> </h1>
        <button class="button"> LOGIN</button>
        </div>
       <div class="button_area">
           <h4> </h4>
          <label class="label">New? Create an account</label>
           <h1> </h1>
           <h1> </h1>
           <h1> </h1>
           <h1> </h1>
       <button class="button"> CREATE ACCOUNT</button>  
       </div>
       
        <div class="detail">
            <p>Contact Details:</p>
            <p>Cell: 0781016485 </p>
            <p>E-mail address: wassenleonard@gmail.com </p>
         </div>     
</body>
</html>
