
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="Login" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
    .heading {color:black; background:lawngreen; text-align:center; font-size:x-large;font-family:Impact}
    .text_area {color:black; text-align:center; font-family:Impact}
    .open_area{font-size:xx-large;text-align: center}
    .button {width: 170px; color: black; background-color:lawngreen; font-family:Impact; font-size:x-large}
    </style>

</head>
<body>
    <div class="heading">
        <h1>VERSIYA</h1>
    </div> 
     <div class="text_area">
        <label for="username">USERNAME : </label>
        <input id="username" type="text" />
        <label for="password">  PASSWORD : </label>
        <input id="password" type="text" />
    </div>
    <div class="open_area">
        <h1></h1>

   <button class="button"> Login</button>

    


   
     
</body>
</html>
